

@model Stats_V3.Lenda

@{
    ViewBag.Title = "CreateLenda";
}

<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Lenda/Index">Lendet</a>
    </li>
    <li class="breadcrumb-item active">Shto</li>
</ol>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Emertimi, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Emertimi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Emertimi, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Klasa, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-6">
            @Html.EditorFor(model => model.Klasa, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Klasa, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Shto" class="btn btn-primary" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


