


@model IEnumerable<Stats_V3.Shkolla>

@{
    ViewBag.Title = "ShowShkolla";
}

<br />
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="~/Home/Index">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Shkolla</li>
</ol>
<p>
    @Html.ActionLink("Shto", "CreateShkolla", null, new { @class = "btn btn-dark" })
</p>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Emertimi)
                        </th>
                       

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tfoot>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Emertimi)
                            </td>
                            

                            <td align="right">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })


                            </td>
                        </tr>
                    </tfoot>
                }

            </table>

        </div>
    </div>
</div>



