

@model IEnumerable<Stats_V3.Gjysmevjetori>

@{
    ViewBag.Title = "ShowGjysmevjetori";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Home/Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Gjysmevjetori</li>
    </ol>
    <p>
        @Html.ActionLink("Shto", "CreateGjysmevjetori", "Home", null, new { @class = "btn btn-dark" })
    </p>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="gjysmevjetori" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Gjysmevjetori
                                @*@Html.DisplayNameFor(model => model.Gjysmevjetori1)*@
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VitiShkollore.VitiShkollor)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                Gjysmevjetori
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VitiShkollore.VitiShkollor)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gjysmevjetori1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VitiShkollore.VitiShkollor)
                                </td>


                                <td align="right">
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })


                                </td>
                            </tr>

                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            //$("#formularet").DataTable();
            $("#gjysmevjetori").DataTable({
                "dom": '<"pull-left"f><"pull-right"l>tip',
                "language": {
                    "sProcessing": "Duke u procesuar",
                    "sLengthMenu": "Shfaqni shënimet _MENU_",
                    "sZeroRecords": "Nuk u gjetën rezultate",
                    "sEmptyTable": "Nuk ka të dhëna në dispozicion në këtë tabelë",
                    "sInfo": "Shfaqja e të dhënave nga _START_ në _END_ të një totalit të të dhënave _TOTAL_",
                    "sInfoEmpty": "Duke shfaqur shënimet nga 0 në 0 nga gjithsej 0 shënime",
                    "sInfoFiltered": "(duke filtruar një total të të dhënave _MAX_)",
                    "sInfoPostFix": "",
                    "sSearch": "Kerko:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Bgarkim...",
                    "oPaginate": {
                        "sFirst": "E para",
                        "sLast": "E fundit",
                        "sNext": "Pas",
                        "sPrevious": "Para"
                    },
                    "oAria": {
                        "sSortAscending": ": Rendit nga A tek Z",
                        "sSortDescending": ": Rendit nga Z tek A"
                    }
                }
            });
        });
    </script>
}


